<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>126183682637-alkil2hgjljju99jskqripqnv8edmtmg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7yumS_9lXVQ0e7uir3gfv19G5KE6_wx0</string>
	<key>GCM_SENDER_ID</key>
	<string>126183682637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poraoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>poraoapp-46e47</string>
	<key>STORAGE_BUCKET</key>
	<string>poraoapp-46e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126183682637:ios:d10436b3fd45e7c2bae204</string>
</dict>
</plist>